<div class="jumbotron" style="margin-bottom: 0; padding-bottom: 32px;">
  <h1 class="display-2">Hey, everyone!</h1>
  <p class="lead">Welcome to my portfolio website. Scroll down to see what I can do.</p>
  <hr class="m-y-2">
  <p>How about a Bootstrap 4 carousel?</p>
</div>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag "github-and-beer.jpg" %>
      <div class="carousel-caption">
        <h4>Who doesn't like GitHub and beer?</h4>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "Bootstrap-4-carousel.jpg" %>
      <div class="carousel-caption">
        <h4>Look, I'm building this carousel!</h4>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "arsenal.jpg" %>
      <div class="carousel-caption">
        <h4>Football or Soccer? Either way it's the beautiful game.</h4>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="icon-next" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="jumbotron jumbotron-fluid" style="padding-top: 25px; padding-bottom: 25px;">
  <div class="container">
    <h2 class="lead">But wait, there's more!&nbsp&nbsp &#127873; &#9889; &#127870; &#127881;</h2>
  </div>
</div>
<div class="container" style="margin-top: 12px">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Personal Sites</h2>
          <p>German literature scholar Anna Heermann needed a personal website, so I built her this one. Pretty sweet, right?</p>
          <p><a class="btn btn-secondary" href="http://www.anna-heermann.info/" target="_blank" role="button">Go to site &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Rails blog</h2>
          <p>This is a blog I made from scratch in rails. It has a secure login and uploads images to AWS.</p>
          <p><a class="btn btn-secondary" href="https://lefurjah.me/" target="_blank" role="button">Go to site &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Twelve</h2>
          <p>I built this cool, intuitive memory game while I was learning JavaScript and jQuery. See if you can get a high score!</p>
          <p><a class="btn btn-secondary" href="http://12.bitballoon.com/" target="_blank" role="button">Go to site &raquo;</a></p>
        </div>
      </div>
</div>
